// Place all the styles related to the monologues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    color:red;
    background-color:#C3A7AB;
    margin:1px;
  
}

li{
    list-style:none;
}
ul{
    padding:0;
}
.navbar-header{
  color: #000000;
  background-color:#99cc00;
}
.navbar-collapse{
  color: #000000;
  background-color:#99cc00;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.menu{
    background-color:#3A2F7B;
    color:#fff;
}
.menu li {
    padding:5% 10%;
    text-align:center;
}
.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}
.container{
    margin-top:20px;
    padding-bottom: 100px;
}



header {
  width: 100%;
  background-color: #4f3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

a.subbuttom{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}
a.subbuttom.hover{
background:#777777;
}// Place all the styles related to the monologues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    color:red;
    background-color:#C3A7AB;
    margin:1px;
  
}

li{
    list-style:none;
}
ul{
    padding:0;
}
.navbar-header{
  color: #000000;
  background-color:#99cc00;
}
.navbar-collapse{
  color: #000000;
  background-color:#99cc00;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.menu{
    background-color:#3A2F7B;
    color:#fff;
}
.menu li {
    padding:5% 10%;
    text-align:center;
}
.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}
.container{
    margin-top:20px;
    padding-bottom: 100px;
}
th, td {
　font-size: 1em
}


header {
  width: 100%;
  background-color: #4f3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

a.subbuttom{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}
a.subbuttom.hover{
background:#777777;
}