// Place all the styles related to the monologues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    color:red;
    background-color:#C3A7AB;
    margin:1px;
  
}

li{
    list-style:none;
}
ul{
    padding:0;
}
.navbar-header{
  color: #000000;
  background-color:#99cc00;
}
.navbar-default{
  color: #000000;
  background-color:#99cc00;
}
.navbar-collapse{
  color: #000000;
  background-color:#99cc00;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.menu{
    background-color:#3A2F7B;
    color:#fff;
}
.menu li {
    padding:5% 10%;
    text-align:center;
}
.contents {
  width: 90%;
  height: 100px;
  padding-bottom: 100px;
}
.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}
.container{
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;

}
.container-fluid{
        position: relative;
        width: 100%;

        /* コンテンツ部分の高さが画面に収まらない場合はコンテンツの高さに合わせる*/
        height: auto !important;

        /* コンテンツ部分の高さが画面より低い場合は画面の高さに合わせる*/
        height: 100%;
        min-height: 100%;
    }
header {
  width: 100%;
  background-color: #4f3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}


html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  text-align: center;
  width: 90%;
}

a.subbuttom{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}
a.subbuttom.hover{
background:#777777;
}// Place all the styles related to the monologues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    color:red;
    background-color:#C3A7AB;
    margin:1px;
  
}

li{
    list-style:none;
}
ul{
    padding:0;
}
.navbar-header{
  color: #000000;
  background-color:#99cc00;
}
.navbar-collapse{
  color: #000000;
  background-color:#99cc00;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.menu{
    background-color:#3A2F7B;
    color:#fff;
}
.menu li {
    padding:5% 10%;
    text-align:center;
}
.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}
th, td {
　font-size: 1em
}


header {
  width: 100%;
  background-color: #4f3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 90%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  bottom: 0;
  position: fixed;
  height: 100px;
}

html {
  position: relative;
  min-height: 100%;
}


a.subbuttom{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}
a.subbuttom.hover{
background:#777777;
}